<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/png" href="/img/favicon.png" />

<title><% if (typeof title!='undefined') { %><%=title%><% } %></title>

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
<link href="/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<link href="/css/animate.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<script src="/js/app/vendors.js"></script>