<!DOCTYPE html>
<html>

<head>
  <% include ../_layouts/head %>
</head>

<body class="md-skin">
  <% include ../_layouts/header %>
  <div id="wrapper">
    <% include ../_layouts/sidebar %>
    <div id="page-wrapper" class="gray-bg">
      <% include ../_layouts/search %>
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
          <div class="col-md-6">
            <div class="ibox">
              <div class="ibox-title">
                <h2>
                  My API Keys
                </h2>
              </div>
              <div id="appKeys" class="ibox-content" style="padding-top:0px;min-height:400px;">

              </div>
            </div>
          </div>
          <div class="col-md-6">

          </div>
        </div>
      </div>
    </div>
  </div>

  <% include ../_layouts/foot %>
  <script src="/js/app/my.js"></script>
</body>

</html>