<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Intro part start-->
    <section class="banner_part">
      <div style="margin-top: 50px;"></div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="banner_text">
              <div class="banner_text_iner">
                <h2 style="margin: 50px 0px;">You have wandered too far...</h2>
                <a class="h4" href="/"
                  ><i class="fas fa-arrow-circle-left"></i> &nbsp;Go back to Home</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="banner_img d-none d-lg-block">
              <img src="/img/logos/agriclear.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <div style="margin-bottom: 40px;"></div>
  </body>
</html>
