<!DOCTYPE html>
<html>

<head>
  <% include ../_layouts/head %>
  <link href="/css/plugins/datatables/datatables.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
  <script>
    var farmId = "<%= data.farmId%>";
  </script>
  <style>
    .md-skin .nav>li.active>a {
      background-color: #318c38;
      color: white;
    }

    .badge-outline-danger {
      color: white;
      background-color: red;
    }
  </style>
</head>

<body class="md-skin">
  <% include ../_layouts/header %>
  <div id="wrapper">
    <% include ../_layouts/sidebar %>
    <div id="page-wrapper" class="gray-bg">
      <% include ../_layouts/search %>
      <div class="wrapper wrapper-content animated fadeInRight">
        <ul class="nav nav-tabs ">
          <li id="farmDetails" class="active">
            <a href="#farmContent" data-toggle="tab">
              <h3>Farm Details</h3>
            </a>
          </li>
          <li id="cropDetails">
            <a href="#cropContent" data-toggle="tab">
              <h3>
                Batches
              </h3>
            </a>
          </li>
          <li id="farmerDetails">
            <a href="#farmerContent" data-toggle="tab">
              <h3>
                Farmers
              </h3>
            </a>
          </li>
          <li id="distributorDetails">
            <a href="#distributorContent" data-toggle="tab">
              <h3>
                Distributors
              </h3>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="farmContent">
            <div class="row">
              <div class="col-lg-12">
                <div class="ibox">
                  <div class="ibox-title">
                    <!-- <h2>
                  Farm Details
                </h2> -->
                  </div>
                  <div id="farmDetailsPanel" class="ibox-content" style="padding-top: 0px; min-height: auto;">
                    <form action="" method="post">
                      <div class="col-md-12 row farm-details">
                        <div class="col-md-12">
                          <h2><u>Farm Basic Info</u></h2>
                        </div>
                        <div class="col-md-6 form-group">
                          <strong><label for="farm_id">Farm Id: *</label></strong>
                          <input type="text" name="farm_id" required class="form-control" placeholder="Farm Id" />
                        </div>
                        <div class="col-md-6 form-group">
                          <strong><label for="name">Farm Name: *</label></strong>
                          <input type="text" name="name" required class="form-control" placeholder="Farm Name" />
                        </div>
                        <div class="col-md-6 form-group">
                          <strong><label for="owner">Owner Name: *</label></strong>
                          <input type="text" name="owner" required class="form-control" placeholder="Owner's Name" />
                        </div>
                        <div class="col-md-6 form-group">
                          <strong><label for="contact_no">Contact No.: *</label></strong>
                          <input type="text" name="contact_no" required class="form-control" />
                        </div>
                        <div class="col-md-6 form-group">
                          <strong><label for="email">Email: </label></strong>
                          <input type="text" name="email" class="form-control" />
                        </div>
                        <div class="col-md-6 form-group">
                          <strong><label for="website">Website: </label></strong>
                          <input type="text" name="website" class="form-control" />
                        </div>
                        <div class="col-md-12 form-group">
                          <strong> <label for="address">Address: *</label> </strong>
                          <input type="text" id="searchLocation" required name="address" class="form-control"
                            placeholder="Address" />
                        </div>
                        <div class="col-md-12">
                          <div class="col-md-12 form-group">
                            <div id="googleMap" class="google-map col-lg-12"
                              style="position: relative; overflow: hidden;">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="card">
                            <button class="btn" type="button" data-toggle="collapse" data-target="#geographicalInfo"
                              aria-expanded="true" aria-controls="geographicalInfo">
                              <div class="card-header">
                                <div class="row">
                                  <div class="col-md-10 text-left">
                                    <h2><u>Geographical Info</u></h2>
                                  </div>
                                  <div class="col-md-2 text-right">
                                    <i class="fa fa-2x fa-caret-down"></i>
                                  </div>
                                </div>
                              </div>
                            </button>
                            <div id="geographicalInfo" class="collapse">
                              <div class="card-body row">
                                <div class="col-md-4 form-group">
                                  <strong><label for="land_area">Land Area (sq.km): </label></strong>
                                  <input type="text" name="land_area" class="form-control" />
                                </div>
                                <div class="col-md-4 form-group">
                                  <strong> <label for="elevation">Elevation (m):</label> </strong>
                                  <input type="text" name="elevation" class="form-control" />
                                </div>
                                <div class="col-md-4 form-group">
                                  <strong><label for="climate_zone">Climate Zone: </label></strong>
                                  <input type="text" name="climate_zone" class="form-control" />
                                </div>
                                <div class="col-md-4 form-group">
                                  <strong><label for="soil_type">Soil Type: </label></strong>
                                  <input type="text" name="soil_type" class="form-control" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="card">
                            <button class="btn" type="button" data-toggle="collapse" data-target="#additionalInfo"
                              aria-expanded="true" aria-controls="additionalInfo">
                              <div class="card-header">
                                <div class="row">
                                  <div class="col-md-10 text-left">
                                    <h2><u>Additional Info</u></h2>
                                  </div>
                                  <div class="col-md-2 text-right">
                                    <i class="fa fa-2x fa-caret-down"></i>
                                  </div>
                                </div>
                              </div>
                            </button>
                            <div id="additionalInfo" class="collapse">
                              <div class="card-body row">
                                <div class="col-md-4 form-group">
                                  <strong> <label for="no_of_plot">Number of Plots:</label> </strong>
                                  <input type="number" name="no_of_plot" class="form-control" />
                                </div>
                                <div class="col-md-8 form-group">
                                  <strong> <label for="irrigation_sources">Sources of Irrigation:</label> </strong>
                                  <input type="text" name="irrigation_sources" class="form-control" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="card">
                            <button class="btn" type="button" data-toggle="collapse" data-target="#optionalInfo"
                              aria-expanded="true" aria-controls="optionalInfo">
                              <div class="card-header">
                                <div class="row">
                                  <div class="col-md-10 text-left">
                                    <h2><u>Optional Info</u></h2>
                                  </div>
                                  <div class="col-md-2 text-right">
                                    <i class="fa fa-2x fa-caret-down"></i>
                                  </div>
                                </div>
                              </div>
                            </button>
                            <div id="optionalInfo" class="collapse">
                              <div class="card-body row">
                                <div class="col-md-6 form-group text-center">
                                  <strong>
                                    <label for="any_land_risk">Are there any risks identified at site?</label>
                                  </strong>
                                  <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="any_land_risk"
                                      name="any_land_risk" />
                                    <label class="custom-control-label" for="any_land_risk">Yes</label>
                                  </div>
                                </div>
                                <div class="col-md-6 form-group text-center">
                                  <strong>
                                    <label for="any_monitoring_program">Any Monitoring programs implemented at
                                      farm?</label>
                                  </strong>
                                  <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="any_monitoring_program"
                                      name="any_monitoring_program" />
                                    <label class="custom-control-label" for="any_monitoring_program">Yes</label>
                                  </div>
                                </div>
                                <div class="col-md-4 risk-doc" style="display: block;">
                                  <strong> <label>Choose Land Risk Document:</label> </strong>
                                  <input id="land_risk_doc" type="file" />
                                </div>
                                <div class="col-md-8 form-group risk-doc" style="display: block;">
                                  <strong> <label for="land_risk_doc">Land Risk Document URl:</label> </strong>
                                  <input type="text" name="land_risk_doc" class="form-control"
                                    placeholder="Document Url will appear here once uploaded" disabled />
                                </div>
                                <div class="col-md-4 monitor-doc" style="display: block;">
                                  <strong> <label>Choose Monitoring Document:</label> </strong>
                                  <input id="monitoring_doc" type="file" />
                                </div>
                                <div class="col-md-8 form-group monitor-doc" style="display: block;">
                                  <strong>
                                    <label for="monitoring_doc">Monitoring Program Document URl:</label>
                                  </strong>
                                  <input type="text" name="monitoring_doc" class="form-control"
                                    placeholder="Document Url will appear here once uploaded" disabled />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <input type="text" name="longitude" id="longitude" value="" hidden />
                        <input type="text" name="latitude" id="latitude" value="" hidden />
                      </div>
                      <div class="form-group row">
                        <div class="col-md-12 col-md-offset-2 text-right">
                          <button class="btn btn-secondary btn-md" id="btnGoBack" type="button">
                            Go Back
                          </button>
                          <button class="btn btn-primary btn-md" type="submit">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane " id="cropContent">
            <div class="row">
              <div class="col-lg-12">
                <div class="ibox">
                  <div class="ibox-title">
                    <div class="row">
                      <div class="col-md-3">
                        <!-- <h2>
                          Crop List
                          <small class="badge badge-warning" style="font-weight: normal;" id="txtFilter"></small>
                        </h2> -->
                      </div>
                      <!-- <div class="col-md-1"></div> -->
                      <div class="col-md-7">
                        <div class="input-group row">
                          <div class="input-group-btn">
                            <select id="filterBy" class="col-md-10">
                              <option></option>
                              <option value="batch">Batch Name</option>
                              <option value="crop">Crop Name</option>
                              <option value="variety">Variety</option>
                            </select>
                          </div>
                          <input type="text" class="form-control input-sm col-md-5" id="searchValue"
                            placeholder="Search term ..." />
                        </div>
                      </div>
                      <div class="col-md-2">
                        <button id="btnSeedAdd" class="btn btn-primary">
                          <i class="fa fa-plus-circle"></i>&nbsp;Add Batch
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="ibox-content" style="padding-top: 5px; min-height: 500px;">
                    <div class="table-responsive">
                      <table id="seed-table" class="table table-striped table-bordered table-hover"
                        style="width: 100%;">
                        <thead>
                          <tr>
                            <th>Batch Number</th>
                            <th>Crop Name</th>
                            <th>Variety</th>
                            <th>Plot Number</th>
                            <th>Farmers</th>
                            <th width="100" style="text-align: center;">Action</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane " id="farmerContent">
            <div class="ibox">
              <div class="ibox-content">
                <div class="row" id="farmerDisplay">
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane " id="distributorContent">
            <div class="ibox">
              <div class="ibox-content">
                <div class="row" id="distributorDisplay">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../_layouts/foot %>
  <script type="text/javascript" language="javascript" src="/js/plugins/datatables/datatables.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
  <script type="text/javascript"
    src="https://maps.google.com/maps/api/js?v=3&key=AIzaSyBvExzwwXB7vhWchWY57j91js1EqU7Mssc&libraries=places&callback=myMap"
    async defer></script>
  <script src="/js/gmap.js"></script>
  <script src="/js/app/farm.details.js"></script>
</body>

</html>

<div id="mdlSeedAdd" class="modal fade" role="dialog" style="display: none;">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add a Crop</h4>
      </div>
      <form id="frmSeed">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-5">
              <div class="text-center">
                <img src="https://cdn4.iconfinder.com/data/icons/social-communication/142/add_photo-512.png"
                  class="rounded-circle" height="165px" width="155px" id="seed_image" alt="Upload an Image"
                  style="margin: auto;" />
                <div class="card-body">
                  <div class="custom-file text-left">
                    <input id="imageBatchUpload" type="file" class="custom-file-input" />
                    <label class="custom-file-label">Upload Crop Image</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-row">
                <input type="text" name="farms" id="farmsBatch" hidden />
                <div class="col-md-12 form-group">
                  <strong><label for="crop">Crop Name:</label></strong>
                  <select class="form-control" id="cropSelect" name="crop" required>
                    <option></option>
                  </select>
                </div>
                <!-- <div class="col-md-12 form-group">
                  <strong> <label for="image_url">Crop Image Url:</label> </strong> -->
                <input type="text" name="image_url" class="form-control" style="display: none;"
                  placeholder="Image Url will show up here after uploaded" disabled />
                <!-- </div> -->
                <div class="col-md-12 form-group">
                  <strong><label for="crop_variety">Crop Variety:</label></strong>
                  <select class="form-control" id="varietySelect" name="crop_variety">
                    <option></option>
                  </select>
                </div>
                <div class="col-md-12 form-group">
                  <strong><label for="plots">Select Plot:</label></strong>
                  <select class="form-control" id="plotSelect" name="plots" multiple>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6 form-group text-center">
              <strong>
                <label for="is_modified">Is the used Seed Genetically Modified?</label>
              </strong>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="is_modified" name="is_modified" />
                <label class="custom-control-label" for="is_modified">Yes</label>
              </div>
            </div>
            <div class="col-md-6 form-group text-center">
              <strong>
                <label for="has_quality_assurance">Does Seed have any Quality Assurance Document?</label>
              </strong>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="has_quality_assurance"
                  name="has_quality_assurance" />
                <label class="custom-control-label" for="has_quality_assurance">Yes</label>
              </div>
            </div>
            <div class="col-md-6 doc-upload" style="display: none;">
              <strong> <label for="assurance_doc_url">Choose Assurance Document:</label> </strong>
              <div class="custom-file text-left">
                <input id="docUpload" type="file" class="custom-file-input" multiple />
                <label class="custom-file-label">Choose Document</label>
              </div>
            </div>
            <!-- <div class="col-md-6 form-group doc-upload" style="display: none;">
              <strong> <label for="assurance_doc_url">Document Url:</label> </strong> -->
            <input type="text" name="assurance_doc_url" class="form-control" style="display: none;"
              placeholder="Document Url will show up here once uploaded" disabled />
            <!-- </div> -->
            <div class="col-md-12 row form-group" id="assurance"></div>
            <div class="col-md-6 form-group">
              <strong> <label for="farmer_id">Farmers:</label> </strong>
              <div class="row">
                <div class="col-md-12">
                  <select name="farmer_id" id="farmer_id" class="form-control" style="width: 100%;" multiple="multiple">
                  </select>
                </div>
                <!-- <div class="col-md-1" style="left: -6%;">
                  <i class="fa fa-plus btn btn-primary" id="btnAddFarmer" title="Add Farmer"></i>
                </div> -->
              </div>
            </div>
            <div class="col-md-6 form-group">
              <strong> <label for="distributor_id">Distributors:</label> </strong>
              <div class="row">
                <div class="col-md-12">
                  <select name="distributor_id" id="distributor_id" class="form-control" style="width: 100%;"
                    multiple="multiple">
                  </select>
                </div>
                <!-- <div class="col-md-1" style="left: -3%;">
                  <i class="fa fa-plus btn btn-primary" id="btnAddDistributor" title="Add Distributor"></i>
                </div> -->
              </div>
            </div>
            <div class="col-md-12 form-group">
              <strong> <label for="comment">Comment:</label></strong>
              <textarea type="text" name="comment" rows="2" class="form-control" placeholder="Comment"></textarea>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-submit">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="mdlTaskAdd" class="modal fade" role="dialog" style="display: none;">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Task</h4>
      </div>
      <form id="frmTask">
        <div class="modal-body">
          <div class="row">
            <input hidden id="batchId">
            <div class="col-md-6 form-group">
              <strong> <label for="batchNo">Batch Number:</label></strong>
              <input class="form-control" id="batchNo" disabled>
            </div>
            <div class="col-md-6 form-group">
            </div>
            <div class="col-md-6 form-group">
              <strong> <label for="cropName">Crop Name:</label></strong>
              <input class="form-control" id="cropName" disabled>
            </div>
            <div class="col-md-6 form-group">
              <strong> <label for="cropVariety">Crop Variety:</label></strong>
              <input class="form-control" id="cropVariety" disabled>
            </div>
            <div class="col-md-12 form-group">
              <strong> <label for="task">Task:</label></strong>
              <input class="form-control" name="task">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-submit" id="btnSubmitTask">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>